/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}
ul.nav{
	font-family: 'Roboto', serif;
	font-size: 13px;

}
footer{
	background-color: #eb2439;
	padding-top: 150px;
	padding-bottom: 30px;
	font-weight:; 
	color:#FFFFFF; 
	padding:0; 
	margin:0; 
	margin-bottom:0px; 
}
footer .container {background:#eb2439; padding:12px 0;}
footer .container p{font-size:13px; color:#FFFFFF; float:left; margin:0; line-height:22px; font-family: 'Roboto', serif; padding-top: 20px;}
footer .container ul{float:right;}
footer .container ul li {display:inline-block; margin-left:20px;}
footer .container ul li a{font-size:13px; color:#FFFFFF;font-family: 'Roboto', serif;font-weight: 500;}

#vision{
	background-color: #f5f5f5;

}
.jumbotron{
	text-align: center;
	background-image: url('../images/yosemite.jpg');
    background-size: cover;
	color:white;

}

.jumbotron h1{
	font-family: 'Roboto', serif;
	margin-top: 0px;
	margin-bottom: 50px;
	text-shadow: 0 0 6px rgba(0,0,0,0.78);
	padding-top: 60px;
}
.jumbotron p{
	margin-bottom: 30px;
	font-weight: 200;
	padding:0px 50px;
	text-shadow: 0 0 6px rgba(0,0,0,0.78);
}
.btn-danger {
	background-color: #EB2978;
	border-color: #EB2978;
}
.btn-danger:hover{
	color:#EB2978;
	text-decoration: none;
	color: white;
}	

.homepage{
	text-align: center;
}

.homepage h3{
	font-size:20px;

}

.homepage h2, .homepage h3{
	text-transform: uppercase;
	font-family: 'Roboto', serif;
	color:#eb2439;
}

.homepage p{
	font-size: 17px;
	font-weight: 300;
	padding-top: 30px;
	margin-bottom: 30px;
}
.homepage a{
	color:#eb2439;
}
.homepage a:hover{
	color:#eb2439;
	text-decoration: none;
	opacity: .8;
}
.homepage hr{
	border-top: 1px solid;
border-color: #eb2439;
width: 140px;
margin-top: 15px;
}

#mission{
	padding-top: 58px;
	padding-bottom: 80px;
	background-color: white;
	margin-top: -30px;
}

#vision{
	padding-top: 58px;

}

#dm .container{
	padding-top: 30px;
	padding-bottom: 30px;
}

.img-circle{
	border-radius: 50%;

}
#press{
	background: white;
	padding-top: 0px;
	padding-bottom: 0px;
}

.head 
/*responsiveness below for large width (tablet) 1200px */

@media (max-width: 1199px) { 
	.jumbotron h1{
		font-size: 56px;
		margin-bottom: 30px;
	}
	
}
/*responsiveness below for medium width (tablet) 992px */

@media (max-width: 991px) { 
	.jumbotron h1{
		font-size: 44px;
		margin-bottom: 30px;
	}

	.jumbotron p{
		padding:0 10px;
	}

	#vision .col-md-4{
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
/*responsiveness below for smallest width (iphone 3g) 768 */
@media (max-width: 767px) { 
	.jumbotron h1{
		font-size: 31px;
		margin-bottom: 30px;
		padding-top: 140px; 
	}

	.jumbotron p{
		padding:0 15px;
	}

	#vision .col-md-4{
		padding-top: 20px;
		padding-bottom: 20px;
	} 

	footer .container p{
		font-size: 15px;
		float: none;
		margin-left: 17px;
		text-align: center;
	}
	footer .container ul{
		padding-top: 12px;
		margin-right: -1px;
		margin-left: -24px;
		font-size: 17px;
		padding-left: 50px;
		float: none;
	}
	#vision .col-md-4{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.img-responsive {
		max-width: 50%;
		margin-left: 100px;
	}
}













